#articleModal .modal-content {
    width: 80%; 
    max-width: 1000px;
    height: auto; 
}

.couleur-titres{
    color: #3b78aa;
}

.couleur-textes{
    color: #7E7C43;
}

.couleur-mainbg{
    background-color: #013D6F;
}

.couleur-bg{
    background-color: #EEA23B;
}

.couleur-bg2{
    background-color: #071E44;
}

.couleur-bg3{
    background-color: #3b78aa;
}

.text-white {
    color: white;
}